version: '3'

services:
  postgres:
    image: seanmcrayz/seanmcpostgres:latest
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  storage:
    image: minio/minio
    ports:
      - "9999:9000"
    volumes:
      - ./docker/storage:/data
    environment:
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
    command:
      --compat server /data

  mc:
    image: minio/mc
    depends_on:
      - storage
    command: >
      sh -c "mc config host rm local
             mc config host add local http://localhost:9999 admin password
             mc policy set download local/seanmcapp"
      
  mock-server:
    image: wiremock/wiremock
    ports: 
      - "8080:8080"
    volumes:
      - ./docker/wiremock:/home/wiremock
