name: Scala CI

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Compile test
      run: sbt test:compile
    - name: Unit test
      run: sbt coverage test
    - name: Running external dependencies (docker-compose)
      run: |
        docker-compose up -d
        docker ps
    - name: Integration testing
      run: sbt coverage it:test
    - name: Coverage report
      run: sbt coverageReport
    - name: Upload report
      run: bash <(curl -s https://codecov.io/bash)
      if: ${{ always() }}
